{% extends 'base.html.twig' %}

{% block title %}Ajout de photos{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class=" p-2 updatePhoto">

                <div class="figEditTitle m-2"><h1>Ajout de photo pour la figure {{ figTitle }}</h1></div>
                {{ form_start(form) }}
                {{ form_label(form.title, 'Titre de la photo') }}
                {{ form_widget(form.title, {'attr':{'placeholder':'Titre de la photo'}}) }}
                <br/>
                {{ form_label(form.file, 'Téléchargez une photo L:250 pixels, H:200px') }}
                {{ form_widget(form.file, {'attr':{'required':'required','placeholder':'Téléchargez une photo au format jpeg '}}) }}
                <div class="row">
                    <button type="submit" class="btn btn-primary m-3">Soumettre</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>



{% endblock %}