{% extends 'base.html.twig' %}

{% block title %}Ajout de photos{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container mt-4">
        <p>Ajout de photo pour la figure {{ figTitle }}</p>

        {{ form_row(form.title) }}

        {{ form_label(form.file) }}
        {{ form_widget(form.file,{'attr':{'required':'required'}}) }}
        {{ form_errors(form.file) }}
        <div class="row">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}