{% extends 'base.html.twig' %}

{% block title %}Mise à jour d'une photo{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier la photo {{ title }}</h1>
        {{ form_start(form) }}
        <img src="{{ photo.filename }}" alt="" class="src">
        {{ form_row(form.file) }}
        <div class="row">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}