{% extends 'base.html.twig' %}

{% block title %}Mise à jour d'une photo{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class=" p-2 updatePhoto">

                <div class="figEditTitle m-2"><h1>Modifier la photo {{ title }}</h1></div>
                <img class="imgUpdatePhoto m-2" src="{{ asset('/uploads/figures/') }}{{ filename }}"
                     alt="{{ filename }}"/>

                {{ form_start(form) }}
                {{ form_label(form.title, 'Titre de la photo') }}
                {{ form_widget(form.title) }}
                <br/>
                {{ form_row(form.file) }}
                <div class="row">
                    <button type="submit" class="btn btn-primary m-3">Soumettre</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}