{% extends 'base.html.twig' %}

{% block title %}Médias{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier {{ title }}</h1>
        {{ form_start(form) }}
        <img src="{{ media.url }}" alt="" class="src">
        {{ form_widget(form) }}
        <div class="row">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
