{% extends 'base.html.twig' %}

{% block title %}User RegisterController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row  mt-2 justify-content-center">
            <div class="title">
                <h1>Inscription</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <input type="hidden" name="_token" value="{{ csrf_token('token-email') }}">

            <button type="submit" class="btn btn-primary">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}