{% extends 'base.html.twig' %}

{% block title %}Snow tricks{% endblock %}

{% block tag_body %}
<body onload="initGridItem(10)">
{% endblock %}

{% block body %}

    <div class="container-fluid ">
        <div class=" row jumbotron">
            <h1>Snow tricks</h1>
        </div>
        <div class="row justify-content-center">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <button onclick="downFunction()" id="myBtnDown" title="En bas">Bas</button>
        </div>
        <div class="row  mt-3 mx-4 justify-content-center">
            {% for fig in figs %}
                <div class="  grid-item ">
                    <div class="card border-primary mx-2 mb-3 flex-fill">

                        <a href="{{ path('page_figure',{'slug':fig.getSlug,'page':1}) }}" class="card-link"><img
                                    class="card-img-top" src="{{ asset('/uploads/figures/') }}{{ fig.featureImage }}"
                                    alt="Figure image cap"></a>
                        <div class="card-body">
                            <h4 class="card-title">{{ fig.title }}</h4>
                        </div>
                        {% if app.user %}
                            <div class="card-picto">
                                <a href="{{ path('edit_figure', {'slug': fig.getSlug}) }}"><i
                                            class='fas fa-pen'></i></a>
                                <a href="#" data-toggle="modal" data-target="#deleteFigure{{ fig.getSlug }}">
                                    <i class='fas fa-trash-alt'></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!--*********** Trigger modal  when button delete figure  is clicked ****************-->
                {{ include('includes/modal.html.twig') }}
            {% endfor %}
        </div>
        <div class="row justify-content-center mx-4">
            {% if figs|length >10 %}
                <button class="btn" type="button" id="loadMoreFigBtn" title="Plus de figures"
                        onclick="loadMore(5,'grid-item')">Plus de figures
                </button>
            {% endif %}
            <div>
                <button onclick="topFunction()" id="myBtn" title="En haut">Haut</button>
            </div>
        </div>
    </div>

{% endblock %}


