{% extends 'base.html.twig' %}

{% block title %}Snow tricks{% endblock %}

{% block tag_body %}
<body onload="initGridItem(5)">
{% endblock %}

{% block body %}


    <div class="container-fluid ">

        <div class=" row jumbotron">

            <h1 class="display-3 text-center">Snow tricks</h1>

        </div>

        <div class="row justify-content-center">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <button onclick="downFunction()" id="myBtnDown" title="En bas">Bas</button>
        </div>

        <div class="row justify-content-start m-4">
            {% for fig in figs %}

                <!-- <div class="col-12 col-lg-3 col-md-4 grid-item "> -->
                <div class="col-sm-6 col-md-2 grid-item"
                     style="min-height: 200px; min-width: 250px; height: 100%; width: auto">

                    <div class="card border-primary mx-2 mb-3 flex-fill">

                        <a href="{{ path('page_figure',{'slug':fig.getSlug,'page':1}) }}" class="card-link"><img
                                    class="card-img-top" src="{{ asset('/uploads/figures/') }}{{ fig.featureImage }}"
                                    alt="Figure image cap"></a>
                        <div class="card-body">
                            <h4 class="card-title">{{ fig.title }}</h4>

                            {% if app.user %}
                                <div class="card-picto">
                                    <a href="{{ path('edit_figure', {'slug': fig.getSlug}) }}"><i
                                                class='fas fa-pen'></i></a>
                                    <a href="#" data-toggle="modal" data-target="#deleteFigure{{ fig.getSlug }}">
                                        <i class='fas fa-trash-alt'></i></a>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                {#TODO: voir si besoin de créer un service pour modal #}
                <!--*********** Trigger modal  when button delete figure  is clicked ****************-->

                <!-- Modal -->
                <div class="modal fade" id="deleteFigure{{ fig.getSlug }}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Vous allez supprimer {{ fig.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="{{ path('delete_figure', {'slug': fig.slug}) }}"
                                      id="newModalForm">
                                    Êtes vous sûr de vouloir supprimer la figure ?

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non je
                                            renonce
                                        </button>
                                        <button type="submit" class="btn btn-primary"
                                        >Oui j'assume
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            <button class="btn" type="button" id="loadMoreFigBtn" title="Plus de figures"
                    onclick="loadMore(4,'grid-item')">Plus de
                figures
            </button>
        </div>
        <div class="row">
            <button onclick="topFunction()" id="myBtn" title="En haut">Haut</button>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src={{ asset('/js/js_scroll') }}></script>
    <script src={{ asset('/js/load_more.js') }}></script>
{% endblock %}
