{% extends 'base.html.twig' %}

{% block title %}Snow tricks{% endblock %}

{% block body %}


    <div class="container ">

        <div class="jumbotron mt-4">

            <h1 class="display-3 text-center">Bienvenu sur Snow tricks</h1>

        </div>

        <div class="row ">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <button onclick="downFunction()" id="myBtnDown" title="En bas">Bas</button>
        </div>

        <div class="row ">
            {% for fig in figs %}

                <div class="col-12 col-lg-3 col-md-4 grid-item " style="display: block;">
                    <div class="card border-primary mx-2 mb-3 flex-fill" style="max-width: 12rem;">

                        <img class="card-img-top" src="{{ asset('/uploads/figures/') }}{{ fig.featureImage }}"
                             alt="Figure image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{ fig.title }}</h4>

                            <a href="{{ path('page_figure',{'slug':fig.getSlug,'page':1}) }}" class="card-link">Lien
                                vers la
                                figure</a>
                            <div class="card-header">
                                <a href="{{ path('edit_figure', {'slug': fig.getSlug}) }}"><i
                                            class='fas fa-pen'></i></a>
                                <a href="#" data-toggle="modal" data-target="#deleteFigure">
                                    <i class='fas fa-trash-alt'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            <button type="button" id="loadMoreFigBtn" title="Plus de figures">Plus de figures</button>
        </div>
        <div class="row">
            <button onclick="topFunction()" id="myBtn" title="En haut">Haut</button>
        </div>

    </div>

    <!--*********** Trigger modal  when delete figure button is clicked ****************-->

    <!-- Modal -->
    <div class="modal fade" id="deleteFigure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes vous sûr de vouloir supprimer la figure ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src={{ asset('/js/js_scroll') }}></script>
    <script src={{ asset('/js/load_more.js') }}></script>
{% endblock %}
