{% extends 'base.html.twig' %}

{% block title %}Mot de passe perdu!{% endblock %}

{% block body %}



    <div class="container mt-5">

        <div class="row">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {{ form_start(form) }}
            {{ form_label(form.email, 'Entrez votre email') }}
            {{ form_widget(form ) }}

            <button type="submit" class="btn btn-primary mb-4">Soumettre</button>


            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
