{% extends 'base.html.twig' %}

{% block title %}Mot de passe perdu!{% endblock %}

{% block body %}



    <div class="container mt-5">

        <div class="row justify-content-center ">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

        </div>
        <div class="row justify-content-center ">


            <div class="col-md-6">
                <h1>Mot de passe perdu</h1>
                {{ form_start(form) }}
                {{ form_label(form.email, 'Entrez votre email pour créer un nouveau mot de passe') }}
                {{ form_widget(form ) }}

                <button type="submit" class="btn btn-primary mb-4">Soumettre</button>


                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
