{% extends 'base.html.twig' %}

{% block title %}Refaire le mot de passe{% endblock %}


{% block body %}
    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                <h1 class="title mb-3">Réinitialiser votre mot de passe</h1>
                {{ form_start(form) }}

                {{ form_label(form.password,'Mot de passe') }}
                {{ form_widget(form.password) }}
                {{ form_label(form.repeatPassword,'Répéter le mot de passe') }}
                {{ form_widget(form.repeatPassword) }}
                <button type="submit" class="btn btn-primary mt-3">Soumettre</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}