{% extends 'base.html.twig' %}

{% block title %}
    Modifier {{ fig.title }}
{% endblock %}

{% form_theme form _self %} {#  #}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier {{ fig.title }}</h1>
        <div class="row mt-4">
            <div class="col featureImageFigure"
                 style="background-image:url( {{ asset('/uploads/figures/') }}{{ fig.featureImage }});background-size: cover;">

                <div class="card-picto">
                    <a href="{{ path('image_presentation', {'slug': fig.slug}) }}"><i class='fas fa-pen'></i></a>
                    <a href="{{ path('delete_feature_image', {'slug': fig.slug}) }}"> <i
                                class='fas fa-trash-alt'></i></a>
                </div>
            </div>
        </div>
        <!-- Link add medias-->
        <div class="row">
            <div class="col">
                {% if app.user %}
                    <a href="{{ path('add_photo', {'slug': fig.slug}) }}" class="">
                        <button>ajout de photo</button>
                    </a>
                    <a href="{{ path('add_video', {'slug': fig.slug}) }}" class="">
                        <button>ajout de vidéo</button>
                    </a>
                {% endif %}
            </div>
        </div>

        <!-- Afficher les photos si existantes -->
        {% if photos %}

            <!-- Portfolio Gallery pictures -->
            <div class="row mt-4">
                <div class="col">
                    <h3> Images</h3>
                </div>
            </div>
            <div class="row">
                {% for photo in photos %}
                    {% if photo.filename %}
                        <div class="col-12 col-lg-3 col-md-3 grid-item text-center" style="display: block;">

                            <img src="{{ asset('/uploads/figures/') }}{{ photo.filename }}"
                                 alt="image de figure snowboard"
                                 style="width:150px">


                            <div class="card-picto">
                                <a href="{{ path('edit_photo',{'slug':photo.figure.slug,'id':photo.id}) }}"><i
                                            class='fas fa-pen'></i></a>
                                <a href="{{ path('delete_photo',{'id':photo.id}) }}"> <i
                                            class='fas fa-trash-alt'></i></a>
                            </div>

                            <h5>Photo figure {{ photo.title }}</h5>
                        </div><!-- col-->
                    {% endif %}
                {% endfor %}
            </div>

        {% endif %}

        <!-- Afficher les vidéos si existantes -->
        {% if videos %}

            <!-- Portfolio videos -->
            <div class="row mt-4">
                <div class="col">
                    <h3> Vidéos</h3>
                </div>
            </div>
            {% for video in videos %}
                {% if video.url %}
                    <div class="embed-responsive embed-responsive-16by9 mb-4 mr-4 videoFigure">

                        <iframe class="embed-responsive-item" width="150" height="200"
                                src="{{ video.url }}?controls=0" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-photo; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>

                    <div class="card-picto">
                        <a href="{{ path('edit_video',{'slug':video.figure.slug,'id':video.id}) }}"><i
                                    class='fas fa-pen'></i></a>
                        <a href="{{ path('delete_video',{'id':video.id}) }}"> <i
                                    class='fas fa-trash-alt'></i></a>
                    </div>

                    <h5>Video figure {{ video.title }}</h5>
                {% endif %}
            {% endfor %}
        {% endif %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div>{{ form_row(form.title,{"label":"Nom de la figure","attr":{ "placeholder":"Nom de la figure"}}) }}</div>

                <div>{{ form_row(form.description,{"label":"Description","attr":{ "placeholder":"Description"}}) }}</div>
                <div>{{ form_row(form.figGroup,{"label":"Groupe de la figure","attr":{ "placeholder":"Groupe de la figure"}}) }}</div>

            </div>
        </div>
        {# {{ form_widget(form) }} #}<!-- si présent active l'affichage des sous-formulaires -->
        <div class="row">

            <button type="submit" class="btn btn-primary mx-2">Soumettre</button>


        </div>
        {#  {{ form_end(form) }} #}
    </div>
{% endblock %}
