{% extends 'base.html.twig' %}

{% block title %}
    Modifier {{ fig.title }}
{% endblock %}

{% block tag_body %}
<body onload="initGridItem(4)">
{% endblock %}

{% form_theme form _self %} {#  #}

{% block body %}
    <div class="container mt-4">
        <div class="row figEditTitle mt-2"><h1>Modifier la figure {{ fig.title }}</h1></div>
        <div class="row">
            <div class="col featureImageFigure"
                 style="background-image:url( {{ asset('/uploads/figures/') }}{{ fig.featureImage }});background-size: cover;">

                <div class="card-picto">
                    <a href="{{ path('image_presentation', {'slug': fig.slug}) }}"><i class='fas fa-pen'></i></a>
                    <a href="#" data-toggle="modal"
                       data-target="#deleteFeatureImage{{ fig.getSlug }}"><i class='fas fa-trash-alt'></i></a>
                </div>
            </div>

        </div>

        <!-- Link add medias-->
        <div class="row justify-content-between">

            {% if app.user %}
                <div>
                    <a href="{{ path('add_photo', {'slug': fig.slug}) }}" class="btn btn-primary m-2">
                        Ajout de photo
                    </a>
                    <a href="{{ path('add_video', {'slug': fig.slug}) }}" class="btn btn-primary m-2">
                        Ajout de vidéo
                    </a>
                </div>

            {% endif %}

            <!--*********** Trigger modal  when button delete imageFeature is clicked ****************-->
            {{ include('includes/modal_image_feature.html.twig') }}

        </div>

        <div class="row justify-content-center">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <!-- Portfolio Gallery pictures -->
        <div class="d-xs-none d-sm-block d-md-block d-lg-block collapse" id="showPhotosCards">
            <!-- Afficher les photos si existantes -->
            {% if photos %}
                <div class="row">
                    {% for photo in photos %}
                        {% if photo.filename %}
                            <div class="col-12 col-lg-3 col-md-3 grid-item-photo">
                                <div class="card border-primary mb-3 mt-3">
                                    <div class="">
                                        <div class="card-header align-items-center">
                                            <img src="{{ asset('/uploads/figures/') }}{{ photo.filename }}"
                                                 alt="image de figure de snowboard"
                                                 style="width:220px; height:160px">
                                        </div>
                                        <div class="card-body  text-center">
                                            <h4 class="card-title"> {{ photo.title }}</h4>
                                        </div>
                                    </div>
                                    <div class="card-picto">
                                        <a href="{{ path('edit_photo',{'slug':photo.figure.slug,'id':photo.id}) }}"><i
                                                    class='fas fa-pen'></i></a>
                                        <a href="{{ path('delete_photo',{'id':photo.id}) }}"> <i
                                                    class='fas fa-trash-alt'></i></a>
                                    </div>
                                </div>

                            </div><!-- col-->
                        {% endif %}
                    {% endfor %}
                </div>

            {% endif %}


            {% if photos|length > 4 %}
                <div class=" row mt-4">
                    <div class="col-md-6">
                        <button type="button" id="loadMoreFigBtn" title="Plus de figures"
                                onclick="loadMore(4,'grid-item-photo')">Plus de
                            figures
                        </button>

                    </div>
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary d-xs-block d-sm-none d-md-none d-lg-none mt-3" type="button"
                data-toggle="collapse"
                data-target="#showPhotosCards"
                aria-expanded="false" aria-controls="showPhotosCards">
            Montrer les photos
        </button>
        <!-- Portfolio videos -->
        <div class="d-xs-none d-sm-block d-md-block d-lg-block collapse" id="showVideosCards">
            <!-- Afficher les vidéos si existantes -->
            {% if videos %}
                <div class="row mt-4">
                    {% for video in videos %}
                        {% if video.url %}
                            <div class="col-12 col-lg-3 col-md-3 grid-item-video d-none d-sm-none d-md-block ">

                                <div class="card border-primary mb-3 mt-3 justify-content-center" style="">
                                    <div class="card-header">
                                        <div class="embed-responsive embed-responsive-16by9 mb-4 mr-4 videoFigure">

                                            <iframe class="embed-responsive-item" width="150" height="200"
                                                    src="{{ video.url }}?controls=0" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-photo; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="card-body  text-center">
                                        <h4 class="card-title"> {{ video.title }}</h4>
                                    </div>

                                    <div class="card-picto">
                                        <a href="{{ path('edit_video',{'slug':video.figure.slug,'id':video.id}) }}"><i
                                                    class='fas fa-pen'></i></a>
                                        <a href="{{ path('delete_video',{'id':video.id}) }}"> <i
                                                    class='fas fa-trash-alt'></i></a>
                                    </div>
                                </div>


                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if videos|length > 4 %}
                <div class=" row mt-4">
                    <div class="col-md-6 mb-3">
                        <button type="button" id="loadMoreVidBtn" title="Plus de vidéos"
                                onclick="loadMore(4,'grid-item-video')">Plus de
                            vidéos
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary d-xs-block d-sm-none d-md-none d-lg-none mt-3" type="button"
                data-toggle="collapse"
                data-target="#showVideosCards"
                aria-expanded="false" aria-controls="showVideosCards">
            Montrer les vidéos
        </button>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div>{{ form_row(form.title,{"label":"Nom de la figure","attr":{ "placeholder":"Nom de la figure"}}) }}</div>
                <div>{{ form_row(form.description,{"label":"Description","attr":{ "placeholder":"Description"}}) }}</div>
                <div>{{ form_row(form.figGroup,{"label":"Groupe de la figure","attr":{ "placeholder":"Groupe de la figure"}}) }}</div>

            </div>
        </div>
        {# {{ form_widget(form) }} #}<!-- si présent active l'affichage des sous-formulaires -->
        <div class="row">
            <button type="submit" class="btn btn-primary mx-2 mt-3">Soumettre</button>

        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
<script src={{ asset('/js/load_more.js') }}></script>
{% endblock %}