{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% form_theme form _self %} {#  #}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier {{ fig.title }}</h1>
        <div class="row mt-4"
             style="background-image:url( {{ asset('/uploads/figures/') }}{{ fig.featureImage }});background-size: cover;">

            <h1 class="display-3 text-center"> {{ fig.title }}</h1>


            <div class="card-header">
                <a href="{{ path('image_presentation', {'slug': fig.slug}) }}"><i class='fas fa-pen'></i></a>
                <a href="{{ path('delete_feature_image', {'slug': fig.slug}) }}"> <i class='fas fa-trash-alt'></i></a>

            </div>


        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div>{{ form_row(form.title,{"label":"Nom de la figure","attr":{ "placeholder":"Nom de la figure"}}) }}</div>
                <div>{{ form_row(form.slug,{"label":"Slug","attr":{ "placeholder":"Slug"}}) }}</div>
                <div>{{ form_row(form.description,{"label":"Description","attr":{ "placeholder":"Description"}}) }}</div>
                <div>{{ form_row(form.figGroup,{"label":"Groupe de la figure","attr":{ "placeholder":"Groupe de la figure"}}) }}</div>

            </div>
        </div>
        {{ form_widget(form) }}
        <div class="row">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _create_figure_media_widget %}
    <p>Ajoutez des photos</p>
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="row">
            <button type="button" id="add-photo" class="btn btn-info">Ajouter un média</button>
        </div>
    </div>
{% endblock %}

{# redefini les label des champs des sous-formulaires #}
{% block _create_figure_media_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _create_figure_media_entry_widget %}
    <div class="form-group" id="media_{{ id }}">
        <div class="row">
            <div class="col">
                {{ form_label(form.title, 'Titre du média') }}
                {{ form_widget(form.title) }}
                {{ form_label(form.url, 'Url du média') }}
                {{ form_widget(form.url) }}
                {# {{ form_label(form.type, 'Type du média') }}
                {{ form_widget(form.type) }} #}
                <button type="button" data-action="delete" data-target="#media_{{ id }}"
                        class=" mt-3 btn btn-warning">
                    Supprimer le média
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $('#add-photo').click(function () {
            const index = $('#create_figure_media div.form-group').length;
            console.log(index);
            const getPrototypEntry = $('#create_figure_media').data('prototype').replace(/__name__/g, index);
            // add another MediaType form instance (code)
            $('#create_figure_media').append(getPrototypEntry);
            deleteMedia();
        });

        //delete the form not the content in the database
        function deleteMedia() {

            $('button[data-action = "delete"]').click(function () {
                    const mediatarget = this.dataset.target;
                    console.log(mediatarget);
                    $(mediatarget).remove();
                }
            );
        }

        deleteMedia();

    </script>
{% endblock %}