{% extends 'base.html.twig' %}

{% block title %}
    Modifier {{ fig.title }}
{% endblock %}

{% block tag_body %}
<body onload="initGridItem(4)">
{% endblock %}

{% form_theme form _self %} {#  #}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier {{ fig.title }}</h1>
        <div class="row mt-4">
            <div class="col featureImageFigure"
                 style="background-image:url( {{ asset('/uploads/figures/') }}{{ fig.featureImage }});background-size: cover;">

                <div class="card-picto">
                    <a href="{{ path('image_presentation', {'slug': fig.slug}) }}"><i class='fas fa-pen'></i></a>
                    <a href="{{ path('delete_feature_image', {'slug': fig.slug}) }}"> <i
                                class='fas fa-trash-alt'></i></a>
                </div>
            </div>
        </div>
        <!-- Link add medias-->
        <div class="row">
            <div class="col">
                {% if app.user %}
                    <a href="{{ path('add_photo', {'slug': fig.slug}) }}" class="">
                        <button>ajout de photo</button>
                    </a>
                    <a href="{{ path('add_video', {'slug': fig.slug}) }}" class="">
                        <button>ajout de vidéo</button>
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Portfolio Gallery pictures -->
        <div class="d-xs-none d-sm-block d-md-block d-lg-block collapse" id="showPhotosCards">
            <!-- Afficher les photos si existantes -->
            {% if photos %}
                <div class="row">
                    {% for photo in photos %}
                        {% if photo.filename %}
                            <div class="col-12 col-lg-3 col-md-3 grid-item-photo text-center"
                                 style="display: block;">
                                <div class="card border-primary mb-3 mt-3  align-items-center" style="">
                                    <div class="card-header">
                                        <img src="{{ asset('/uploads/figures/') }}{{ photo.filename }}"
                                             alt="image de figure snowboard"
                                             style="width:150px; height:130px"></div>
                                    <div class="card-body">
                                        <h4 class="card-title"> {{ photo.title }}</h4>
                                    </div>
                                    <div class="card-picto">
                                        <a href="{{ path('edit_photo',{'slug':photo.figure.slug,'id':photo.id}) }}"><i
                                                    class='fas fa-pen'></i></a>
                                        <a href="{{ path('delete_photo',{'id':photo.id}) }}"> <i
                                                    class='fas fa-trash-alt'></i></a>
                                    </div>
                                </div>

                            </div><!-- col-->
                        {% endif %}
                    {% endfor %}
                </div>

            {% endif %}

            <div class=" row mt-4">
                <div class="col-md-6">
                    <button type="button" id="loadMoreFigBtn" title="Plus de figures"
                            onclick="loadMore(4,'grid-item-photo')">Plus de
                        figures
                    </button>

                </div>
            </div>
        </div>
        <button class="btn btn-primary d-xs-block d-sm-none d-md-none d-lg-none mt-3" type="button"
                data-toggle="collapse"
                data-target="#showPhotosCards"
                aria-expanded="false" aria-controls="showPhotosCards">
            Montrer les photos
        </button>
        <!-- Portfolio videos -->
        <div class="d-xs-none d-sm-block d-md-block d-lg-block collapse" id="showVideosCards">
            <!-- Afficher les vidéos si existantes -->
            {% if videos %}
                <div class="row mt-4">
                    {% for video in videos %}
                        {% if video.url %}
                            <div class="col-12 col-lg-3 col-md-3 grid-item-video d-none d-sm-none d-md-block  text-center">

                                <div class="card border-primary mb-3 mt-3 justify-content-center" style="">
                                    <div class="card-header">
                                        <div class="embed-responsive embed-responsive-16by9 mb-4 mr-4 videoFigure">

                                            <iframe class="embed-responsive-item" width="150" height="200"
                                                    src="{{ video.url }}?controls=0" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-photo; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"> {{ video.title }}</h4>
                                    </div>
                                </div>

                                <div class="card-picto">
                                    <a href="{{ path('edit_video',{'slug':video.figure.slug,'id':video.id}) }}"><i
                                                class='fas fa-pen'></i></a>
                                    <a href="{{ path('delete_video',{'id':video.id}) }}"> <i
                                                class='fas fa-trash-alt'></i></a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class=" row mt-4">
                <div class="col-md-6 mb-3">
                    <button type="button" id="loadMoreVidBtn" title="Plus de vidéos"
                            onclick="loadMore(4,'grid-item-video')">Plus de
                        vidéos
                    </button>
                </div>
            </div>
        </div>
        <button class="btn btn-primary d-xs-block d-sm-none d-md-none d-lg-none mt-3" type="button"
                data-toggle="collapse"
                data-target="#showVideosCards"
                aria-expanded="false" aria-controls="showVideosCards">
            Montrer les vidéos
        </button>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div>{{ form_row(form.title,{"label":"Nom de la figure","attr":{ "placeholder":"Nom de la figure"}}) }}</div>
                <div>{{ form_row(form.description,{"label":"Description","attr":{ "placeholder":"Description"}}) }}</div>
                <div>{{ form_row(form.figGroup,{"label":"Groupe de la figure","attr":{ "placeholder":"Groupe de la figure"}}) }}</div>

            </div>
        </div>
        {# {{ form_widget(form) }} #}<!-- si présent active l'affichage des sous-formulaires -->
        <div class="row">
            <button type="submit" class="btn btn-primary mx-2 mt-3">Soumettre</button>

        </div>
        {#  {{ form_end(form) }} #}
    </div>

{% endblock %}
{% block javascripts %}
<script src={{ asset('/js/load_more.js') }}></script>
{% endblock %}