{% extends 'base.html.twig' %}

{% block title %}Figure {{ fig.title }}{% endblock %}

{% block body %}

    <div class="container">

        <div class=" mt-4"
             style="background-image:url( {{ asset('/uploads/figures/') }}{{ fig.featureImage }});background-size: cover;">

            <h1 class="display-3 text-center"> {{ fig.title }}</h1>
            {% if app.user %}

                <div class="card-header">
                    <a href="{{ path('edit_figure', {'slug': fig.slug}) }}"><i class='fas fa-pen'></i></a>
                    <a href="{{ path('delete_figure', {'slug': fig.slug}) }}"> <i class='fas fa-trash-alt'></i></a>


                </div>
            {% endif %}
        </div>
        <!-- Portfolio Gallery pictures -->
        <div class="row mt-4">

            <div class="col">
                <h3> Images </h3>
                {% for media in fig.media %}

                    <img src="{{ asset('/uploads/figures/') }}{{ fig.featureImage }}" alt="image de présentation"
                         style="width:80%">
                    <h4>Photo figure {{ fig.title }}</h4>

                {% endfor %}
            </div>
        </div>
        <!-- Portfolio Gallery videos -->
        <div class="row">

            <div class="col">
                <h3> Vidéos </h3>
                <label for="Video">Video </label>
                <div class="embed-responsive embed-responsive-16by9 mb-4 mr-4 videoFigure">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/v64KOxKVLVg"></iframe>
                </div>

            </div>

        </div>
        <!-- dates and group-->
        <div class="row">
            <div class="col">
                <h3> Informations </h3>
                <p>Groupe : {{ fig.figGroup }}, Date de création : {{ fig.createDate|date('d-m-Y') }}, date de mise à
                    jour: {{ fig.updateDate|date('d-m-Y') }}</p>

            </div>
        </div>
        <!-- description zone -->
        <div class="row">
            <div class="col">
                <h3> Description </h3>
                <div class="description">
                    <p>{{ fig.description }}</p>
                </div>
            </div>

        </div>
        <!--**** Comments zone *****-->
        <!-- Add a Comment -->


        <div class="row">
            <div class="col">

                <div class="">
                    {% if app.user %}
                        {{ form_start(form) }}

                        <h3>{{ form_row(form.content,{'label':'Votre commentaire'}) }}</h3>

                        <button type="submit" name="submit">Envoyer votre commentaire</button>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>

        </div>

        <!-- Comment already available-->


        <div class="row mt-4">
            <div class="col">
                <h3> Derniers commentaires </h3>
                {% if fig.comments|length > 0 %}
                    <h4>Les commentaires reçus</h4>
                    {% for comment in fig.comments %}
                        <div class="b-light">
                            <p>{{ comment.author.id }}</p>
                            <p>{{ comment.content }}</p>
                            <p>{{ comment.createDate|date('d-m-Y H:i:s') }}</p>
                            <p>{{ comment.author.picture }}</p>

                        </div>

                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
