{% extends 'base.html.twig' %}

{% block title %}Figure {{ numeroFigure }}{% endblock %}

{% block body %}

    <div class="container">

        <div class=" mt-4"
             style="background-image:url( {{ fig.featureImage }});background-size: cover;">

            <h1 class="display-3 text-center"> {{ fig.title }}</h1>

        </div>
        <!-- Portfolio Gallery pictures -->
        <div class="row">
            <a href="{{ path('edit_figure', {'slug': fig.slug}) }}">Modifier la figure</a>
            <div class="col-md-3 text-center">
                <div class="content">
                    <img src="{{ fig.featureImage }}" alt="Mountains" style="width:80%">
                    <h4>{{ fig.title }}</h4>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>

        </div>

        <!-- Portfolio Gallery videos -->


        <div class="row">

            {% for i in 1..4 %}
                <div class="col">
                    <label for="Video">Video </label>
                    <div class="embed-responsive embed-responsive-16by9 mb-4 mr-4 videoFigure">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/v64KOxKVLVg"></iframe>
                    </div>
                    <h4>Vidéo {{ i }}</h4>
                </div>
            {% endfor %}

        </div>
        <!-- dates and group-->
        <div class="row">
            <div class="col">
                <p>Date de création - date de mise à jour - groupe : </p>

            </div>
        </div>
        <!-- description zone -->
        <div class="row">
            <div class="col">
                //////////// Description ///////////
                <div class="description">
                    <p>{{ fig.description }}</p>
                </div>
            </div>

        </div>
        <!-- Comments zone -->

        //////////// Comments zone ///////////
        <div class="row">
            <div class="col">


            </div>
        </div>
    </div>

{% endblock %}
