{% extends 'base.html.twig' %}

{% block title %}Figure {{ fig.title }}{% endblock %}

{% block body %}

    <div class="container">

        <div class=" mt-4"
             style="background-image:url( {{ asset('/uploads/figures/') }}{{ fig.featureImage }});background-size: cover;">

            <h1 class="display-3 text-center"> {{ fig.title }}</h1>
            {% if app.user %}

                <div class="card-header">
                    <a href="{{ path('edit_figure', {'slug': fig.slug}) }}"><i class='fas fa-pen'></i></a>
                    <a href="{{ path('delete_figure', {'slug': fig.slug}) }}"> <i class='fas fa-trash-alt'></i></a>


                </div>
            {% endif %}
        </div>
        <!-- Portfolio Gallery pictures -->
        <div class="row mt-4">

            <div class="col">
                <h3> Images </h3>
                {% for media in fig.media %}
                    {% if media.url %}
                        <img src="{{ media.url }}" alt="image de présentation"
                             style="width:150px">
                        <div class="card-header"><i class='fas fa-pen'></i>
                            <i class='fas fa-trash-alt'></i>
                        </div>
                    {% endif %}
                    <h4>Photo figure {{ fig.title }}</h4>



                {% endfor %}

            </div>
        </div>
        <!-- Portfolio Gallery videos -->
        <div class="row">

            <div class="col">
                <h3> Vidéos </h3>
                <label for="Video">Video </label>
                <div class="embed-responsive embed-responsive-16by9 mb-4 mr-4 videoFigure">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/v64KOxKVLVg"></iframe>
                </div>
                <div class="card-header"><i class='fas fa-pen'></i>
                    <i class='fas fa-trash-alt'></i>

                </div>
            </div>

        </div>
        <!-- dates and group-->
        <div class="row">
            <div class="col">
                <h3> Informations </h3>
                <p>Groupe : {{ fig.figGroup }}, Date de création : {{ fig.createDate|date('d-m-Y') }}, date de mise à
                    jour: {{ fig.updateDate|date('d-m-Y') }}</p>

            </div>
        </div>
        <!-- description zone -->
        <div class="row">
            <div class="col">
                <h3> Description </h3>
                <div class="description">
                    <p>{{ fig.description }}</p>
                </div>
            </div>

        </div>
        <!--**** Comments zone *****-->
        <!-- Add a Comment -->


        <div class="row">
            <div class="col">

                <div class="">
                    {% if app.user %}
                        {{ form_start(form) }}

                        <h3>{{ form_row(form.content,{'label':'Votre commentaire'}) }}</h3>

                        <button type="submit" name="submit">Envoyer votre commentaire</button>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>

        </div>

        <!-- Comment already available-->

        <div class="row mt-4">
            <div class="col">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Avatar</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if fig.comments|length > 0 %}
                        <h3>Les commentaires reçus</h3>
                        {% for comment in comments %}

                            <tr>
                                <td>{{ comment.author.username }}</td>
                                <td><img src="{{ asset('/uploads/avatars/') }}{{ comment.author.picture }}"
                                         alt="{{ comment.figure.title }}">
                                </td>
                                <td>{{ comment.content }}</td>
                                <td>{{ comment.createDate|date('d-m-Y H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Comments navigation block">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous {{ numPage }}</span>
                                </a>
                            </li>
                            {% for i in 1..pagesOfComments %}
                                <li class="page-item  {% if numPage == i %} active{% endif %} "><a
                                            class="page-link"
                                            href="{{ path('page_figure',{'slug':fig.slug,'page':i}) }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!-- row -->
    </div>

{% endblock %}
