{% extends 'base.html.twig' %}

{% block title %}Figure {{ fig.title }}{% endblock %}
{% block tag_body %}
<body onload="initGridItem(5)">
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col featureImageFigure"
                 style="background-image:url( {{ asset('/uploads/figures/') }}{{ fig.featureImage }});background-size: cover;">
                <div class="figEditTitle m-2"><h2> {{ fig.title }}</h2></div>

            </div>
        </div>
        {% if app.user %}
            <div class="row justify-content-end">
                <div class="card-picto">
                    <a href="{{ path('edit_figure', {'slug': fig.slug}) }}"><i class='fas fa-pen'></i></a>
                    <a href="{{ path('delete_figure', {'slug': fig.slug}) }}" data-toggle="modal"
                       data-target="#deleteFigure{{ fig.getSlug }}"> <i class='fas fa-trash-alt'></i></a>
                </div>
            </div>
        {% endif %}


        <!--*********** Trigger modal  when button delete figure  is clicked ****************-->
        {{ include('includes/modal.html.twig') }}

        <div class="row mt-4 justify-content-center">
            <div class="col-md-3">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Portfolio Gallery pictures -->
        <div class="d-xs-none d-sm-block d-md-block d-lg-block collapse" id="showPhotosCards">
            <div class="row justify-content-center">
                {% for photo in photos %}
                    {% if photo.filename %}
                        <div class="grid-item-photo">
                            <div class="card border-primary mx-2 mb-3 flex-fill">
                                <img class="card-img-top" src="{{ asset('/uploads/figures/') }}{{ photo.filename }}"
                                     alt="Figure image cap">
                                <div class="card-body">
                                    <h4 class="card-title">{{ photo.title }}</h4>
                                </div>

                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
            {% if photos|length > 4 %}

                <div class=" row mt-4 justify-content-center">
                    <div class="col-md-6 ">
                        <button type="button" id="loadMoreFigBtn" title="Plus de photos"
                                onclick="loadMore(4,'grid-item-photo')">Plus de
                            photos
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if photos|length != 0 %}
            <button class="btn btn-primary d-xs-block d-sm-none d-md-none d-lg-none mt-3" type="button"
                    data-toggle="collapse"
                    data-target="#showPhotosCards"
                    aria-expanded="false" aria-controls="showPhotosCards">
                Montrer les photos
            </button>
        {% endif %}
        <!-- Portfolio videos -->
        <div class="d-xs-none d-sm-block d-md-block d-lg-block collapse" id="showVideosCards">
            <!-- Afficher les vidéos si existantes -->
            {% if videos %}
                <div class="row mt-4 justify-content-center">
                    {% for video in videos %}
                        <div class="grid-item-video">
                            <div class="card border-primary align-items-center">

                                <div class="embed-responsive embed-responsive-16by9 videoFigure">

                                    <iframe class="embed-responsive-item" width="200" height="200"
                                            src="{{ video.url }}?controls=0" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-photo; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ video.title }}</h4>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}
            {% if videos|length > 4 %}
                <div class=" row mt-4">
                    <div class="col-md-6">
                        <button type="button" id="loadMoreVidBtn" title="Plus de vidéos"
                                onclick="loadMore(4,'grid-item-video')">Plus de
                            vidéos
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if videos|length != 0 %}
            <button class="btn btn-primary d-xs-block d-sm-none d-md-none d-lg-none mt-3" type="button"
                    data-toggle="collapse"
                    data-target="#showVideosCards"
                    aria-expanded="false" aria-controls="showVideosCards">
                Montrer les vidéos
            </button>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- dates and group-->
                <div class="row mt-4">
                    <div class="col">
                        <h3> Informations </h3>
                        <p>Groupe : {{ fig.figGroup }}, Date de création : {{ fig.createDate|date('d-m-Y') }}, date de
                            mise à jour: {{ fig.updateDate|date('d-m-Y') }}</p>
                    </div>
                </div>
                <!-- description zone -->
                <div class="row mt-4">
                    <div class="col">
                        <h3> Description </h3>
                        <div class="description">
                            <p>{{ fig.description }}</p>
                        </div>
                    </div>
                </div>

                <!--**** Comments zone *****-->
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-3">
                        {% for message in app.flashes('comment') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Add a Comment -->
                <div class="row mt-4">
                    <div class="col">
                        <div>
                            {% if app.user %}
                                {{ form_start(form) }}
                                <h3>{{ form_row(form.content,{'label':'Votre commentaire'}) }}</h3>

                                <button type="submit" class="btn" id="submitComment" name="submit">Envoyer votre
                                    commentaire
                                </button>
                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </div>

                </div>

                <!-- Comment already available-->

                <div class="row mt-4">
                    <div class="col">
                        <h3>Les commentaires reçus</h3>
                        <table class="table-striped">
                            <thead>
                            <tr>
                                <th>Auteur</th>
                                <th>Avatar</th>
                                <th>Message</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if fig.comments|length > 0 %}
                                {% for comment in comments %}
                                    <tr>
                                        <td data-label="Auteur">{{ comment.author.firstname }} {{ comment.author.lastname }}</td>
                                        <td class="avatar" data-label="Avatar"><img
                                                    src="{{ asset('/uploads/avatars/') }}{{ comment.author.picture }}"
                                                    alt="{{ comment.figure.title }}">
                                        </td>
                                        <td class="commentContent" data-label="Message"
                                            style="width: 350px">{{ comment.content }}</td>
                                        <td data-label="Date">{{ comment.createDate|date('d-m-Y H:i:s') }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <nav aria-label="Comments navigation block">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" {% if numPage > 1 %}

                                           href="{{ path('page_figure',{'slug':fig.slug,'page':numPage-1}) }}"
                                           {% endif %}aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous </span>
                                        </a>
                                    </li>
                                    {% if pagesOfComments > 0 %}
                                        {% for i in 1..pagesOfComments %}
                                            <li class="page-item  {% if numPage == i %} active{% endif %} "><a
                                                        class="page-link"
                                                        href="{{ path('page_figure',{'slug':fig.slug,'page':i}) }}">{{ i }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                    <li class="page-item ">
                                        <a class="page-link"{% if numPage < pagesOfComments %} href="{{ path('page_figure',{'slug':fig.slug,'page':numPage+1}) }}"
                                                {% endif %} aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div> <!-- block pagination comments -->
                    </div>
                </div><!-- row -->
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src={{ asset('/js/load_more.js') }}></script>
<script>
    if ($("#showVideosCards").hasClass("d-xs-none")) {
        $("#showVideosCards").removeClass("d-xs-none");
        $("#showVideosCards").addClass("d-xs-none");
        $("#showVideosCards").show();
    }
    if ($("#showPhotosCards").hasClass("d-xs-none")) {
        $("#showPhotosCards").removeClass("d-xs-none");
        $("#showPhotosCards").addClass("d-xs-none");
        $("#showPhotosCards").show();
    }
</script>
{% endblock %}