{% extends 'base.html.twig' %}

{% block title %}Ajout de figure snow tricks{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Ajout d'une nouvelle figure</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div>{{ form_row(form.title,{"label":"Nom de la figure","attr":{ "placeholder":"Nom de la figure"}}) }}</div>
                <div>{{ form_row(form.slug,{"label":"Slug","attr":{ "placeholder":"Slug"}}) }}</div>
                <div>{{ form_row(form.description,{"label":"Description","attr":{ "placeholder":"Description"}}) }}</div>
                <div>{{ form_row(form.figGroup,{"label":"Groupe de la figure","attr":{ "placeholder":"Groupe de la figure"}}) }}</div>
                <div>{{ form_row(form.featureImage,{"label":"Image de présentation","attr":{ "placeholder":"Image de présentation"}}) }}</div>
            </div>
        </div>
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Soumettre</button>

        {{ form_end(form) }}
    </div>

{% endblock %}