{% extends 'base.html.twig' %}

{% block title %}Ajout de figure snow tricks{% endblock %}

{% form_theme form _self %} {#  permet de faire reference aux formulaires du CollectionType#}
{% block body %}

    <div class="container mt-4 mb-4">

        <div class="row justify-content-center">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="title">
                <h1>Ajout d'une nouvelle figure</h1>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            {{ form_start(form) }}
            <div>{{ form_row(form.title,{"label":"Nom de la figure (caractères alphabétiques)","attr":{ "placeholder":"Nom de la figure"}}) }}</div>
            <div>{{ form_row(form.description,{"label":"Description","attr":{ "placeholder":"Description"}}) }}</div>
            <div>{{ form_row(form.figGroup,{"label":"Groupe de la figure","attr":{ "placeholder":"Groupe de la figure"}}) }}</div>
            {{ form_widget(form) }}
            <div class="row">
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{# ********************* gestion  du sous-formulaires pour ajout de photos ******************* #}
{% block _create_figure_photos_widget %}
    <p>Ajoutez des photos</p>
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="row">
            <button type="button" id="add-photo" class="btn btnAddMedia">Ajouter une photo</button>
        </div>
    </div>
{% endblock %}

{# Gère les champs du sous-formulaire PhotoType #}
{% block _create_figure_photos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _create_figure_photos_entry_widget %}
    <div class="form-group" id="photo_{{ id }}"> <!-- id : identifiant du form-group pour le gérer -->
        <div class="row">
            <div class="col">
                {{ form_label(form.title, 'Titre de la photo') }}
                {{ form_widget(form.title, {'attr':{'placeholder':'Le titre de la photo'}}) }}

                {{ form_label(form.file, 'Téléchargez une photo') }}
                {{ form_widget(form.file,{'attr':{'required':'required','placeholder':'Le titre de la photo'}}) }}

                <button type="button" data-action="delete" data-target="#photo_{{ id }}"
                        class=" m-2 btn btn-warning">
                    Supprimer le formulaire
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{# ********************* gestion  du sous-formulaire pour ajout de vidéos ******************* #}

{% block _create_figure_videos_widget %}
    <p>Ajoutez des vidéos</p>
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="row">
            <button type="button" id="add-video" class="btn btnAddMedia">Ajouter une vidéo</button>
        </div>
    </div>
{% endblock %}

{# Renomme les champs en mode row du sous-formulaire VideoType par ceux de widget #}
{% block _create_figure_videos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _create_figure_videos_entry_widget %}
    <div class="form-group" id="video_{{ id }}">
        <div class="row">
            <div class="col">
                {{ form_label(form.title, 'Titre de la vidéo') }}
                {{ form_widget(form.title, {'attr':{'placeholder':'Le titre de la vidéo'}}) }}
                {{ form_label(form.url, 'Url de la vidéo') }}
                {{ form_widget(form.url, {'attr':{'placeholder':'L\'url de la vidéo'}}) }}
                {{ form_widget(form) }} {# allow to add the video_figure filetype#}
                <button type="button" data-action="delete" data-target="#video_{{ id }}"
                        class=" m-2 btn btn-warning">
                    Supprimer le formulaire
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        /*************** créé des instances de formulaire ****************/
        $('#add-photo').click(function () {
            const index = $('#create_figure_photos div.form-group').length; // on récupère les div qui ont la classe form_group
            console.log(index);
            const getPrototypEntry = $('#create_figure_photos').data('prototype').replace(/__name__/g, index);

// add another PhotoType form instance (code)
            $('#create_figure_photos').append(getPrototypEntry);
            deleteMedia();
        });

        $('#add-video').click(function () {
            const index = $('#create_figure_videos div.form-group').length;

            const getPrototypEntry = $('#create_figure_videos').data('prototype').replace(/__name__/g, index);

            $('#create_figure_videos').append(getPrototypEntry);
            deleteMedia();
        });


        function deleteMedia() {

            $('button[data-action = "delete"]').click(function () {
                    const mediatarget = this.dataset.target;

                    $(mediatarget).remove();
                }
            );
        }

        deleteMedia();

    </script>
{% endblock %}


